/* CSS Reset */
.modal-content {
  color: #424242;
}
.modal-title {
  margin: 0 auto;
  font-weight: bold;
  /* color: #a4a4a4; */
}
.modal-header {
  padding: 0.5rem 1rem;
}
.modal-header .close {
  margin-left: 0;
}
.modal-footer {
  justify-content: center;
}
.modal-footer button {
  padding: 15px 40px;
  font-weight: bold;
  width: 70%;
}
.modal-body .v-pills-tab {
  padding: 5px 5px 5px 10px;
  width: 113px;
  flex-wrap: nowrap;
}
.modal-body .v-pills-tabContent {
  overflow: hidden;
  display: flex;
  width: 100%;
}
.modal-body .v-pills-tabContent .tab-pane.active.show {
  display: flex;
  width: 100%;
}

/* Global */
.gradient-box-shadow {
  box-shadow: 0px 2px 5px 2px #ddd;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 13%,
    rgba(246, 246, 246, 1) 34%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(13%, rgba(252, 252, 252, 1)),
    color-stop(34%, rgba(246, 246, 246, 1)),
    color-stop(100%, rgba(237, 237, 237, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 13%,
    rgba(246, 246, 246, 1) 34%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 13%,
    rgba(246, 246, 246, 1) 34%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 13%,
    rgba(246, 246, 246, 1) 34%,
    rgba(237, 237, 237, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 13%,
    rgba(246, 246, 246, 1) 34%,
    rgba(237, 237, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.popup-tabs {
  margin: 5px 0;
  padding: 20px 25px;
}

.popup-tabs:hover {
  color: inherit;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 252, 249, 1) 24%,
    rgba(222, 240, 229, 1) 55%,
    rgba(185, 223, 200, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(24%, rgba(248, 252, 249, 1)),
    color-stop(55%, rgba(222, 240, 229, 1)),
    color-stop(100%, rgba(185, 223, 200, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 252, 249, 1) 24%,
    rgba(222, 240, 229, 1) 55%,
    rgba(185, 223, 200, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 252, 249, 1) 24%,
    rgba(222, 240, 229, 1) 55%,
    rgba(185, 223, 200, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 252, 249, 1) 24%,
    rgba(222, 240, 229, 1) 55%,
    rgba(185, 223, 200, 1) 100%
  );
}

.popup-tabs i::before {
  margin: 0;
  font-size: 3rem;
}

.modal-body .popup-tabs.active {
  color: inherit;

  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 252, 249, 1) 24%,
    rgba(222, 240, 229, 1) 55%,
    rgba(185, 223, 200, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(24%, rgba(248, 252, 249, 1)),
    color-stop(55%, rgba(222, 240, 229, 1)),
    color-stop(100%, rgba(185, 223, 200, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 252, 249, 1) 24%,
    rgba(222, 240, 229, 1) 55%,
    rgba(185, 223, 200, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 252, 249, 1) 24%,
    rgba(222, 240, 229, 1) 55%,
    rgba(185, 223, 200, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 252, 249, 1) 24%,
    rgba(222, 240, 229, 1) 55%,
    rgba(185, 223, 200, 1) 100%
  );
}

/* settings-main-modal Start */
#settings-main-modal .modal-body {
  display: flex;
  padding: 0;
  height: 75vh;
}

#settings-main-modal .modal-dialog {
  margin: 0.5rem auto;
  /* max-width: 1040px; */
}

#settings-main-modal i {
  color: #898989;
}

/* data tabs content start */
.modal-tab-first-half {
  width: 50%;
  padding: 10px;
  /* padding-left: 5px; */
  /* border-right: 1px solid #ddd; */
}

/* #settings-modal-data {
  display: flex;
  width: 100%;
} */

.modal-tab-last-half {
  width: 50%;

  padding: 10px;
  /* overflow: auto; */
}

.upload-type {
  display: flex;
  padding: 10px;
  background-color: rgba(148, 143, 143, 0.1);
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid #ddd;
  /* justify-content: space-around; */
}
.upload-type i:before {
  margin: 0;
  font-size: 2.5rem;
}
.upload-type div {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 10px;
  justify-content: space-between;
}
.upload-type p {
  margin: 0;
  font-weight: bold;
}
.upload-type span {
  align-self: flex-end;
  color: red;
  font-size: 0.8rem;
}

.upload-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: #fff;
  border-radius: 2px;
  margin-bottom: 10px;
  font-weight: bold;
  align-items: center;
}

.upload-info i::before {
  margin: 0;
  font-size: 2rem;
  font-weight: normal;
}

#settings-modal-data .modal-tab-last-half {
  background-color: rgba(148, 143, 143, 0.1);
}
#settings-modal-data .modal-tab-first-half {
  border-right: 1px solid #ddd;
}

/* data tabs content end */

/* Backup config modal start here */
#backUpConfig .modal-content {
  box-shadow: 0px 0px 10px 10px rgba(74, 59, 59, 0.4);
}

#backUpConfig .form-control {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 3.5rem;
}

/* Backup config modal end here */

/* Setting modal settings tab Start */

#settings-modal-settings {
  flex-direction: column;
}

#settings-modal-settings-inner-tab-content {
  height: calc(100% - 60px);
}
#settings-modal-settings-inner-tab-content .tab-pane {
  height: 100%;
}

.settings-modal-inner-tabs {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.settings-modal-inner-tabs li {
  width: 30%;
}

.settings-modal-inner-tabs a {
  padding: 10px 0;
  width: 100%;
  text-align: center;
  color: inherit;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
.settings-modal-inner-tabs a.active {
  box-shadow: 0px 2px 5px 2px #ddd;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 13%,
    rgba(246, 246, 246, 1) 34%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(13%, rgba(252, 252, 252, 1)),
    color-stop(34%, rgba(246, 246, 246, 1)),
    color-stop(100%, rgba(237, 237, 237, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 13%,
    rgba(246, 246, 246, 1) 34%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 13%,
    rgba(246, 246, 246, 1) 34%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 13%,
    rgba(246, 246, 246, 1) 34%,
    rgba(237, 237, 237, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 13%,
    rgba(246, 246, 246, 1) 34%,
    rgba(237, 237, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.settings-modal-inner-tabs a:hover {
  box-shadow: 0px 2px 5px 2px #ddd;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 13%,
    rgba(246, 246, 246, 1) 34%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(255, 255, 255, 1)),
    color-stop(13%, rgba(252, 252, 252, 1)),
    color-stop(34%, rgba(246, 246, 246, 1)),
    color-stop(100%, rgba(237, 237, 237, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 13%,
    rgba(246, 246, 246, 1) 34%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 13%,
    rgba(246, 246, 246, 1) 34%,
    rgba(237, 237, 237, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 13%,
    rgba(246, 246, 246, 1) 34%,
    rgba(237, 237, 237, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(252, 252, 252, 1) 13%,
    rgba(246, 246, 246, 1) 34%,
    rgba(237, 237, 237, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.allow-multi-devices {
  display: flex;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background: #f1f1f1;
  margin-bottom: 10px;
}

.allow-multi-devices i {
  margin: auto 5px;
}
.allow-multi-devices i::before {
  margin: 0;
  font-size: 1.5rem;
}
.allow-multi-devices p {
  margin: auto 5px;
  font-weight: bold;
  font-size: 0.9rem;
}
#settings-modal-settings .modal-tab-first-half {
  border: none;
}

#settings-modal-settings .modal-tab-last-half {
  /* background: #fff; */
}

.box-with-checkboxes {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 1px 5px 1px #ddd;
  margin-bottom: 10px;
}

.checkbox-container input {
  display: none;
}

.checkbox-container {
  /* position: relative; */
  min-width: 50px;
}

.checkbox-container label {
  position: relative;
  margin: 0;
  font-weight: bold;
  font-size: 0.9rem;
}

.checkbox-container label:after {
  content: "";
  width: 18px;
  height: 100%;
  border: 1px solid #ddd;
  right: -25px;
  position: absolute;
  cursor: pointer;
}
.checkbox-container input:checked + label::after {
  background-color: #04b400;
  border: none;
}

/* Setting modal settings tab End */

/* Settings Modal Reciept tab start */
#settings-modal-reciept {
  flex-direction: column;
}

#settings-modal-reciept .settings-modal-inner-tabs {
  padding: 0 10px;
  min-height: 50px;
}

#settings-modal-reciept .settings-modal-inner-tabs li {
  /* padding: 0 10px; */
  width: 33.33%;
  margin-bottom: 0;
}

#settings-modal-reciept .settings-modal-inner-tabs li a {
  border-radius: 0;
  box-shadow: none;
  padding: 15px;
  border-bottom: 0;
  border-top: 0;
}

#settings-modal-reciept .settings-modal-inner-tabs li a.active {
  /* padding: 0 10px; */
  box-shadow: none;
  border-radius: 0;
}
#settings-modal-reciept .settings-modal-inner-tabs li a:hover {
  /* padding: 0 10px; */
  box-shadow: none;
  border-radius: 0;
}

#settings-modal-reciept-inner-tab-content {
  height: calc(100% - 100px);
}

.sort-by-nav {
  display: flex;
  min-height: 50px;
}
.sort-by-nav li {
  width: 25%;
  border: 1px solid #ddd;
  border-top: none;
  border-left: none;
}
.sort-by-nav li:last-child {
  border-right: 0;
}
.sort-by-nav li a {
  color: inherit;
  display: block;
  text-align: center;
  padding: 15px;
}

.reciept-box {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: rgba(185, 184, 184, 0.18);
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 10px;
}
.reciept-box div span {
  display: block;
}

.reciept-box div span:nth-child(1) {
  font-weight: bold;
  margin-bottom: 8px;
}

.r-date {
}
.r-dec span:nth-child(1) {
  color: red;
  text-align: center;
}
.r-inc span:nth-child(1) {
  color: #04b400;
  text-align: right;
}

.knob-container {
  width: 200px;
  margin: 30px auto;
  position: relative;
}

.knob-inner-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  /* z-index: -1; */
}

.knob-inner-text p {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.knob-inner-text span {
  color: #038d00;
}

/* Settings Modal Reciept tab end */
