    /*
    Flaticon icon font: Flaticon
    Creation date: 01/02/2019 08:24
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-eating:before { content: "\f100"; }
.flaticon-take-away:before { content: "\f101"; }
.flaticon-delivery:before { content: "\f102"; }
.flaticon-fast-food:before { content: "\f103"; }
.flaticon-hot-coffee-rounded-cup-on-a-plate-from-side-view:before { content: "\f104"; }
.flaticon-burger:before { content: "\f105"; }
.flaticon-badge:before { content: "\f106"; }
.flaticon-coupon:before { content: "\f107"; }
.flaticon-invoice:before { content: "\f108"; }
.flaticon-settings-gears:before { content: "\f109"; }
.flaticon-menu:before { content: "\f10a"; }
.flaticon-graph:before { content: "\f10b"; }
.flaticon-parking-sign:before { content: "\f10c"; }
.flaticon-eating-1:before { content: "\f10d"; }
.flaticon-hotel:before { content: "\f10e"; }
.flaticon-restaurant:before { content: "\f10f"; }
.flaticon-dinner-1:before { content: "\f110"; }
.flaticon-reserved:before { content: "\f111"; }
.flaticon-reserved-1:before { content: "\f112"; }
.flaticon-waiter:before { content: "\f113"; }
.flaticon-prize-badge-with-star-and-ribbon:before { content: "\f114"; }
.flaticon-covered-food-tray-on-a-hand-of-hotel-room-service:before { content: "\f115"; }
.flaticon-deny:before { content: "\f116"; }
.flaticon-approve-circular-button:before { content: "\f117"; }
.flaticon-download:before { content: "\f118"; }
.flaticon-ring:before { content: "\f119"; }
.flaticon-waiting-room:before { content: "\f11a"; }
.flaticon-logout:before { content: "\f11b"; }
.flaticon-plus:before { content: "\f11c"; }
.flaticon-minus:before { content: "\f11d"; }
.flaticon-fish:before { content: "\f11e"; }
.flaticon-meat:before { content: "\f11f"; }
.flaticon-dipping-sauce-with-chips:before { content: "\f120"; }
.flaticon-cheese:before { content: "\f121"; }
.flaticon-close:before { content: "\f122"; }
.flaticon-three-way-intersection:before { content: "\f123"; }
.flaticon-add-to-cart:before { content: "\f124"; }
.flaticon-printer:before { content: "\f125"; }
.flaticon-mail-send:before { content: "\f126"; }
.flaticon-shop-store-frontal-building:before { content: "\f127"; }
.flaticon-user:before { content: "\f128"; }
.flaticon-paragraph:before { content: "\f129"; }
.flaticon-receipt-1:before { content: "\f12a"; }
.flaticon-key:before { content: "\f12b"; }
.flaticon-data:before { content: "\f12c"; }
.flaticon-key-1:before { content: "\f12d"; }
.flaticon-info:before { content: "\f12e"; }
.flaticon-clock:before { content: "\f12f"; }
.flaticon-delete:before { content: "\f130"; }
.flaticon-driver:before { content: "\f131"; }
.flaticon-commercial-delivery-symbol-of-a-list-on-clipboard-on-a-box-package:before { content: "\f132"; }
.flaticon-garlic:before { content: "\f133"; }
    
    $font-Flaticon-eating: "\f100";
    $font-Flaticon-take-away: "\f101";
    $font-Flaticon-delivery: "\f102";
    $font-Flaticon-fast-food: "\f103";
    $font-Flaticon-hot-coffee-rounded-cup-on-a-plate-from-side-view: "\f104";
    $font-Flaticon-burger: "\f105";
    $font-Flaticon-badge: "\f106";
    $font-Flaticon-coupon: "\f107";
    $font-Flaticon-invoice: "\f108";
    $font-Flaticon-settings-gears: "\f109";
    $font-Flaticon-menu: "\f10a";
    $font-Flaticon-graph: "\f10b";
    $font-Flaticon-parking-sign: "\f10c";
    $font-Flaticon-eating-1: "\f10d";
    $font-Flaticon-hotel: "\f10e";
    $font-Flaticon-restaurant: "\f10f";
    $font-Flaticon-dinner-1: "\f110";
    $font-Flaticon-reserved: "\f111";
    $font-Flaticon-reserved-1: "\f112";
    $font-Flaticon-waiter: "\f113";
    $font-Flaticon-prize-badge-with-star-and-ribbon: "\f114";
    $font-Flaticon-covered-food-tray-on-a-hand-of-hotel-room-service: "\f115";
    $font-Flaticon-deny: "\f116";
    $font-Flaticon-approve-circular-button: "\f117";
    $font-Flaticon-download: "\f118";
    $font-Flaticon-ring: "\f119";
    $font-Flaticon-waiting-room: "\f11a";
    $font-Flaticon-logout: "\f11b";
    $font-Flaticon-plus: "\f11c";
    $font-Flaticon-minus: "\f11d";
    $font-Flaticon-fish: "\f11e";
    $font-Flaticon-meat: "\f11f";
    $font-Flaticon-dipping-sauce-with-chips: "\f120";
    $font-Flaticon-cheese: "\f121";
    $font-Flaticon-close: "\f122";
    $font-Flaticon-three-way-intersection: "\f123";
    $font-Flaticon-add-to-cart: "\f124";
    $font-Flaticon-printer: "\f125";
    $font-Flaticon-mail-send: "\f126";
    $font-Flaticon-shop-store-frontal-building: "\f127";
    $font-Flaticon-user: "\f128";
    $font-Flaticon-paragraph: "\f129";
    $font-Flaticon-receipt-1: "\f12a";
    $font-Flaticon-key: "\f12b";
    $font-Flaticon-data: "\f12c";
    $font-Flaticon-key-1: "\f12d";
    $font-Flaticon-info: "\f12e";
    $font-Flaticon-clock: "\f12f";
    $font-Flaticon-delete: "\f130";
    $font-Flaticon-driver: "\f131";
    $font-Flaticon-commercial-delivery-symbol-of-a-list-on-clipboard-on-a-box-package: "\f132";
    $font-Flaticon-garlic: "\f133";